table.clientetabla {
    height: 120px;
    width: 350px;
    border-collapse: collapse;
    border-left: 4px green solid;
    border-right: 4px rgb(31, 139, 31) solid;
    position: absolute;
    left: 500px;
    top: 100px;

}


table.clientetabla th { 
    height: 25px;
    color: blue;
    font-size:1rem;
    text-align: left;
}

table.factura {
    height: 50px;
    width: 300px;
    position: absolute;
    left: 500px;
}

table.conceptotabla {
    background-color:cyan;
    width: 70%;
    position: absolute;
    top: 300px;
}


