div.menu {
    background-color: blue;
    width: 100%;
    height: 40px;
    position: fixed;
    top:0px;
    left: 0px;
    right:0px;
    text-align: center;
    
}

div.pie {
    background-color: red;
    width: 100%;
    height: 40px;
    position: fixed;
    bottom:0px;
    left: 0px;
    right:0px;
    text-align: center;
}

body.cuerpo4 {
    height: 800px;
}
a.volver4 {
    text-align: center;
}