
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Sacramento');

body {
    background-color: beige;
    padding: 60px;
}

h1.titulo-principal {
color: #00f7ff;
border: 1px blue solid;
padding: 12px;
text-align: center;
background-color: white
} 

h1.titulo-principal:hover {
    color: gray;
    background-color: pink;
    cursor: pointer;
}

ul.lista-ejercicios li {
    font-size: 1.5em;
}


h1.tipo1 {
    color: rgb(207, 46, 46);
}

h1.bordes {
    border-bottom: 6px red dashed;
    border-top: 3px red dashed;
    border-bottom-style: double;
    text-align: center;
    padding: 20px;
}
span.underline {
text-decoration: underline;
}

 div.contenedor img {
     margin: 30px;
 }

 div.bolas div {
     height: 80px;
     width: 80px;
     background-color: rgb(199, 162, 162);
     margin: 5px;
     display: inline-block;
     border-radius: 100px;
     font-size: 40px;
     color: white;
     text-align: center;
     line-height: 80px;
 }

 img.gato1 {
    background-color: #8d7171;
    padding: 12px;
    text-align: center;
    background-color: #8d7171;
    border-radius: 200px;
    } 

img.gato2 {
    background-color: #8d7171;
    padding: 12px;
    text-align: center;
    background-color: #8d7171;
    border-radius: 200px;
        } 

 img.gato3 {
    background-color: #8d7171;
    padding: 12px;
    text-align: center;
    background-color: #8d7171;
    border-radius: 200px;
    } 

img.volver {
    border-radius: 200px;
}

.contenedor-ejercicio4 {
    background-color: aliceblue;
    width: 100%;
}

div.articulo {
    background-color: #ebc4c4;
    width:30%;
    display: inline-block;
    text-align: center;
}

img.gato-ejercicio4 {
    margin: 10px;
    border-radius: 10px;
}

h1.tipo2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-right: 180px;
}

h2.tipo2 {
    font-family: 'Pacifico', cursive;
    padding-right: 130px;
    padding-bottom: 30px;
}

p.gato {
    font-family: 'Sacramento', cursive;
    font-size: 20px;
    text-align: center;
}

body.cuerpo4 {
    padding-top: 60px;
    padding-bottom: 60px;
}

div.franja {
text-align: center;
height: 60px;
font-size: 30px;
color: white;
width: 100%;

}

div.franja.menu {
    background-color: blue;
    width: 100%;
    height: 40px;
    position: fixed;
    top:0px;
    left: 0px;
    right:0px;
    text-align: center;
    
}


div.franja.pie {
    background-color: red;
    width: 100%;
    height: 40px;
    position: fixed;
    bottom:0px;
    left: 0px;
    right:0px;
    text-align: center;
}


p.volver4 {
    text-align: center;
}

div.marco {
    background-color: brown;
    width: 50%;
    height:300px;
    margin: 200px auto;
    position: relative;
    /* para centrar el elemento en el centro de la pantalla sin poner display inline block */
}

div.marco div.bolas {
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 60px;
    position: absolute;
    border: 10px brown solid;

}

div.bolas.si {
    left: -50px;
    top: -50px;
}

div.bolas.sd {
    right: -50px;
    top: -50px;
}

div.bolas.ii {
    left: -50px;
    bottom: -50px;
}

div.bolas.id {
    right: -50px;
    bottom: -50px;
}

div.doscolores {
    width: 50%;
    height: 100%;
    background-color: cyan;
    font-size: 2rem;
    text-align: center;
    padding: 30px;
    position: relative;
    z-index: -2;

}

div.blanco {
    width: 50%;
    height: 100%;
    background-color: white;
    position: absolute;
    left: 0;
    top:0;
    z-index: -1;
}