body {
    padding: 50px;
    background-color: #dddd90;
}

div.articulo {
    border: 1px blue solid;
    background-color: beige;
    display: inline-block;
    width: 30%;
    padding: 10px;
    border-radius: 15px;
    position: relative;
}

div.articulo img {
    width: 100%;
    border-radius: 10px;
} 
/* le estoy diciendo que tome la anchura del 100% de su contenedor */

p.precio {
    font-size: 1.8em;
    font-weight: bold;
}

p.nombre {
    font-size: 1.4em;
    font-weight: bold;
}

p.descripcion {
    font-size: 1.2em;
}

div.botones {
    text-align: center;
}

div.botones div {
    text-align: center;
    display: inline-block;
    background-color: gainsboro;
    width: 45%;
    /* font-size: 2em; */
    margin: 0 2%;
    padding-top: 5px;
    padding-bottom: 8px;
}

i.rojo {
    color: red;
    position: absolute;
    top: 20Px;
    right: 20px;
    z-index: 101;
}

i.green {
    color: yellow;
    position: absolute;
    top: 20Px;
    right: 30px;
    z-index: 100;
}

span.subir {
    color: red;
    position:relative;
    bottom: 10px;
}
/* margin: 0 5px estoy diciendo que no toque margen arriba y abajo y que deje 5px izq y der */
/* con margin en % jugamos un poco con nuestro diseño para que sea responsive */
/* marcar un contenedor como relativo y dentor puedo tener un elemento absoluto, entonces buscara dentro de ese relativo si hay un elemento absoluto (independiente) y puedo modificar su ubicacion dentro de la caja contenedora */
/* hay tres positions relative, absolute o fixed */
/* con z-index el elemento que tenga el valor mayor (no importa el numero) será el que quede por delante */
/* en el caso de que quiero que un elemento sea independiente cuando esta dentro de un contenedor que ya esta definido como relativo y tengo un elemento absoluto (el corazon rojo) si quiero que la M sea independiente tengo que ponerlo como relativo */