.bola {
background-color: red;
width: 50px;
height: 50px;
border-radius: 30px;
display: inline-block;
margin: 5px;
}

.cuadrado {
    background-color: red;
    width: 50px;
    height: 50px;
    display: inline-block;
    margin: 5px;
}

.separador {
    width: 100px;
    height: 4px;
    display: block;
    border-top: 1px black;
    border-bottom: 3px black;

}

